body {
  margin: 0px;
}

.spielfeld {
  width: 100vw;
  height: 100vh;
  background-color: darkgoldenrod;
  position: relative;
}

.paddel {
  width: 2vw;
  height: 20vh;
  background-color: black;
  position: absolute;
}

.links {
  left: 1vw;
  top: 1vw;
}

.rechts {
  right: 1vw;
  top: 1vw;
}

.ball {
  top: 50%;
  left: 50%;
  height: 2vw;
  width: 2vw;
  position: absolute;
  background-color: black;
}
